body {
  background-color: #333;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Gamegirl";
  src: URL("Gamegirl.ttf") format("truetype");
}

@font-face {
  font-family: "Thicket-Mono";
  src: URL("ChevyRay - Thicket Mono.ttf") format("truetype");
}

@font-face {
  font-family: "Chocolate-Mono";
  src: URL("ChevyRay - Chocolate Mono.ttf") format("truetype");
}

@font-face {
  font-family: "Microgramma";
  src: URL("MicrogrammaDMedExt Regular.ttf") format("truetype");
}

@font-face {
  font-family: "barcade";
  src: URL("barcadenobar.ttf") format("truetype");
}

#logo {
  /* background-color: white; */
  font-family: "barcade";
  color: goldenrod;
  text-shadow: 0px 1px brown;
  font-weight: bold;
  text-align: right;
  font-size: 40px;
  margin-right: 30px;
  margin-top: -20px;
}
.keyboard {
  bottom: 0;
  padding-bottom: 10px;
  margin-bottom: 30px;
  max-height: 400px;
  position: absolute;
  width: 100vw;
}

.keyboard .opcode-row button {
  height: 70px;
  width: 70px;
}

/* .keyboard button { */
button {
  background-color: orangered;
  color: goldenrod;
  border: 1px solid black;
  border-radius: 20px;

  font-family: "Microgramma";
  font-size: 14px;
  font-weight: bolder;

  height: 44pt;

  margin: 3px;

  padding: 0;
  text-align: center;

  width: 44pt;
}

.keyboard .opcode-row {
  flex-direction: row;
  text-align: center;
  margin-right: 55px;
  margin-left: 5px;
}

.spacer {
  display: inline-block;
  width: 11px;
}

.keyboard .opcode-row:first-of-type {
  margin-right: 5px;
}
.keyboard .opcode-row:first-of-type button {
  margin-left: 3px;
  margin-right: 3px;
}

#next-key {
  background-color: #fffdd0;
  color: brown;
  position: absolute;
  right: 10px;
  bottom: 10px;
  width: 80px;
}

#backspace-key {
  background-color: brown;
  color: #fffdd0;
  position: absolute;
  right: 10px;
  bottom: 75px;
  width: 80px;
}

button {
  touch-action: manipulation;
}

.container {
  height: 320px;
  margin: 30px;
}

.container {
  border: 1px solid brown;
}

.container::before {
  border: 2px solid orangered;
}

.code-box {
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: Thicket-Mono, source-code-pro, Menlo, Monaco, Consolas,
    "Courier New", monospace;
  height: 100%;
  /* letter-spacing: 2px; */
  padding-top: 20px;
  text-align: left;
}

.code-line {
  line-height: 1.5em;
}

.line-num {
  background-color: #eee;
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
}
.line-num.relative {
  color: #bbb;
  width: 30px;
}

.line-num.absolute {
  border-right: 1px solid #222;
  padding-right: 15px;
  width: 30px;
}

.code-instruction {
  text-align: left;
  padding-left: 15px;
}

.current-line {
  background-color: #eee;
}

.current-line .line-num {
  background-color: #aaa;
}

.current-line .line-num.relative {
  color: #eee;
}

.code-instruction .token {
  margin-right: 2px;
  padding: 3px 10px 3px 10px;
}

.token.label {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.token.label.empty {
  padding-left: 20px !important;
}

.token.empty {
  /* border: 1px solid red; */
  padding-left: 35px;
}

.code-instruction .token.selected {
  background-color: #aaa;
}

/** numeric keyboard */

.keyboard.number {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.keyboard .numbers {
  margin: auto;
  padding-right: 20%;
  width: 50vw;
}

.keyboard .leftKeys {
  display: inline-flex;
  flex-direction: column;
  margin-left: 10px;
}

#numkey-0 {
  width: 100px;
}

button#show-debug {
  background-color: #fffdd0;
  color: brown;
  float: left;
  height: 40px;
  margin-top: -20px;
  margin-left: 30px;
  width: 80px;
}

button#show-debug.disabled {
  background-color: #888;
  color: #bbb;
}

button#show-other {
  background-color: brown;
  color: #fffdd0;
  float: left;
  height: 40px;
  margin-top: -20px;
  margin-left: 5px;
  width: 80px;
}

#emoji-bar {
  display: flex;
  justify-content: center;
  width: 100vw;
}
