body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.keyboard {
  bottom: 0;
  flex-direction: row;
  max-height: 400px;
  position: absolute;
  width: 100vw;
}

.keyboard button {
  border: 1px solid black;
  height: 44pt;
  margin: 10px;
  min-width: 44pt;
}

pre {
  line-height: 1.2em;
  margin-left: 30px;
  margin-top: 30px;
  text-align: left;
}

button {
  touch-action: manipulation;
}

.code-box {
  border: 1px solid #ddd;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  margin: 30px;
  text-align: left;
}

.code-line {
  line-height: 1.5em;
}

.line-num {
  background-color: #eee;
  display: inline-block;
  padding-left: 10px;
  text-align: center;
}
.line-num.relative {
  color: #bbb;
  text-align: right;
  width: 20px;
}

.line-num.absolute {
  border-right: 1px solid #ccc;
  padding-right: 15px;
  width: 20px;
}

.code-instruction {
  text-align: left;
  padding-left: 15px;
}
