.memory-view {
  border-left: 0.5px solid orangered;
  border-top: 0.5px solid orangered;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  max-height: 300px;
  text-align: center;
}

.memory-cell {
  border-right: 0.5px solid orangered;
  border-bottom: 0.5px solid orangered;
  padding: 0;
  margin: 0;
  width: 8vw;
  height: 8vw;
}

.memory-cell.warrior-1 {
  background-color: brown;
}

.memory-cell.warrior-2 {
  background-color: orangered;
}

.memory-cell.pc {
  background-color: goldenrod;
}
