.memory-view {
  border-left: 0.5px solid orangered;
  border-top: 0.5px solid orangered;

  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  text-align: center;
}

.memory-cell {
  border-right: 0.5px solid orangered;
  border-bottom: 0.5px solid orangered;
  box-sizing: border-box;
  color: white;
  font-size: 8px;
  padding: 0;
  margin: 0;
  width: 10%;
  height: 10vw;
}

.memory-cell.warrior-1 {
  background-color: brown;
}

.memory-cell.warrior-2 {
  background-color: orangered;
}

.memory-cell.pc {
  background-color: goldenrod;
}

.memory-cell.pc.next {
  background-color: lightskyblue;
}
